/* ! GENERAL STYLES */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html {
    scroll-behavior: smooth;
}

ol,
ul {
    list-style: none;
}

a {
    all: unset;
    cursor: pointer;
}

a:active {
    color: #A3B8D7;
}

button {
    cursor: pointer;
}

button:hover  {
    transform: translateY(5px);
    background-color: #607594;
}

@font-face {
    font-family: 'KyivType';
    src: url('./fonts/KyivType-NoVariable/OTF/KyivTypeSans-Medium3.otf');
}

.container {
    margin: 0 auto;
    max-width: 1400px;
}

body {
    background: #222021;
    background-image: url('./images/background.png');
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 139.4%;
    color: #F5F5F5;
}

/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Inter', sans-serif; */

/* !SCROLL TOP */

.scrollTop {
    position: fixed;
    bottom: 60px;
    right: 70px;
    font-style: 40px;
    z-index: 10;
    cursor: pointer;

}

.showScroll {
    opacity: 1;
    transition: opacity 1s ease;
} 

.hideScroll {
    opacity: 0;
    transition: opacity 1s ease;
}

/* !HEADER */
.background {
    background: url('./images/backgroundImage.png') no-repeat;
    /* width: 908px; */
    object-fit: contain;
    height: 1080px;
    border-radius: 3px 62px 62px 0px;
}

header {
    height: 130px;
    display: inline;
}

.header-info {
    height: 150px;
    background: #1E0C06;
    box-shadow: 0px -8px 52px rgba(238, 238, 238, 0.17);
    border-radius: 0px 0px 79px 79px;
    margin-bottom: 90px;
}

.header-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    margin-bottom: 86px;

}

nav ul {
    display: flex;
}

nav ul li {
    margin-right: 63px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

/* !SOLID WOOD PROCUCTS SECTION*/

.solid-wood-products {
    background: #1E0C06;
    border-radius: 43px 0px 0px 43px;
    width: 1245px;
    height: 714px;

}

.solid-wood-products-section {
    display: flex;
    justify-content: end;
}

.solid-wood-products {
    filter: drop-shadow(0px 4px 52px rgba(245, 245, 245, 0.17));
    display: flex;
    margin-bottom: 414px;
}

.solid-wood-products-info {
    padding-left: 50px;
}

h1 {
    font-family: 'KyivType';
    font-style: normal;
    font-weight: 500;
    font-size: 100px;
    line-height: 104px;
    text-transform: uppercase;
    padding-top: 75px;
    margin-bottom: 22px;
    width: 620px;
}

.solid-wood-products-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;
    color: #FFDBBB;
    width: 330px;
    margin-bottom: 58px;
}

.solid-wood-products-btn {
    width: 225px;
    height: 58px;
    background: #728BAD;
    border-radius: 42px;
    transition: background-color 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.solid-wood-products-separator {
    width: 0;
    height: 511px;
    border: 1px solid #F5F5F5;
    margin-top: 43px;
}

.solid-wood-products-images {
    position: relative;
    width: 600px;
}

.solid-wood-products-image1 {
    position: absolute;
    right: 80px;
    top: 43px;
}

.solid-wood-products-image2 {
    position: absolute;
    top: 316px;
    right: 323px;
}

.solid-wood-products-image3 {
    position: absolute;
    right: 80px;
    bottom: 57px;
}

/* !ADVANTAGES WORKING WITH US SECTION*/

.advantages-of-work {
    margin-bottom: 316px;
}

.advantages-of-work-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 132px;
}

.advantages-of-work-title {
    padding-left: 200px;
    margin-bottom: 120px;
    width: 1040px;
}

video {
    width: 609px;
    height: 370px;
    border-radius: 42px;
    display: inline-block;
    margin-left: 70px;
    object-fit: cover;
}

video:hover::-webkit-media-controls {
    opacity: 1;
    visibility: visible;
}

.advantages-of-work-text p {
    width: 453px;
    margin-bottom: 46px;
}

.advantages-of-work-button {
    display: flex;
    justify-content: center;
}

.advantages-of-work-btn {
    width: 472px;
    height: 58px;
    background: #728BAD;
    border-radius: 42px;
    color: #F5F5F5;
    transition: background-color 0.5s ease-in-out, transform 0.5s ease-in-out;
}

/* !OUR WORK SECTION */

.our-work-section {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 278px;
}

.our-work {
    padding-left: 200px;
    margin-bottom: 125px;
}

.our-work-second-page {
    padding-top: 102px;
    padding-left: 150px;
}

.slider {
    width: 1130px;
    height: 754px;
    border-radius: 42px;
    overflow: hidden;
}

.slides {
    width: 500%;
    height: 754px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 1130px;
    height: 754px;
}

.kitchen3 {
    object-fit: cover;
}

.navigation-manual {
    position: absolute;
    width: 1130px;
    margin-top: 26px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 4px solid #728BAD;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 18px;
}

.manual-btn:hover {
    background: #D5DCEE;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -20%;
}

#radio3:checked~.first {
    margin-left: -40%;
}

#radio4:checked~.first {
    margin-left: -60%;
}

.navigation-auto {
    position: absolute;
    display: flex;
    width: 1130px;
    justify-content: center;
    margin-top: 780px;
}

.navigation-auto div {
    border: 4px solid #728BAD;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 18px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
    background: #D5DCEE;
}

#radio2:checked~.navigation-auto .auto-btn2 {
    background: #D5DCEE;
}

#radio3:checked~.navigation-auto .auto-btn3 {
    background: #D5DCEE;
}

/* !THE WOOD WE WORK WITH SECTION */

.the-wood-we-work-with {
    margin-bottom: 263px;
}

h2 {
    font-family: 'KyivType';
    font-style: normal;
    font-weight: 500;
    font-size: 90px;
    line-height: 120px;
    text-transform: uppercase;
}

.the-wood-we-work-with-title {
    width: 750px;
    padding-left: 200px;
    margin-bottom: 125px;
}

.the-wood-we-work-with-options {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.type-of-wood {
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.type-of-wood-img {
    margin-bottom: 39px;
}

.wood {
    margin-bottom: 38px;
}

.advantages-of-wood {
    padding-left: 20px;
}

.advantages-of-wood-item {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.advantages-of-wood-item img {
    padding-right: 10px;
}

.cross {
    width: 19px;
    height: 19px;
}

/* !ABOUT US SECTION */

.about-us {
    width: 1325px;
    height: 775px;
    background: #1E0C06;
    border-radius: 0px 42px 42px 0px;
    box-shadow: 0px -8px 52px rgba(245, 245, 245, 0.17);
    display: flex;
}

.about-us-info {
    padding-left: 253px;
    padding-top: 44px;
    width: 100%;
    position: relative;
}

.about-us-text {
    width: 516px;
    padding-top: 67px;
}

.about-us-images {
    position: relative;
}

.about-us-image1 {
    position: absolute;
    right: 70px;
    top: 61px;
} 

.about-us-image2 {
    position: absolute;
    right: 157px;
    top: 177px;
    border-radius: 42px;
    border: 15px solid #1E0C06;
} 

.about-us-image3 {
    position: absolute;
    right: 102px;
    bottom: 25px;
}

/* !CONTACTS SECTION */

.contacts {
    padding-top: 90px;
    padding-left: 100px;
    margin-bottom: 290px;
    position: relative;
}

.contacts-title {
    margin-bottom: 118px;
}

.map {
    position: absolute;
    top: 90px;
    right: 0;
}

/* !ANY QUESTIONS SECTION */

.any-questions-title {
    display: flex;
    justify-content: end;
    margin-bottom: 45px;
}

.any-questions-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 109px;
}

form {
    display: flex;
    flex-direction: column;

}

input {
    width: 598px;
    height: 77px;
    border: 4px solid #728BAD;
    border-radius: 42px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 42px;
    padding-left: 20px;
    background-color: transparent;
    outline: none;
    color: #F5F5F5;
    margin-bottom: 23px;
}

textarea {
    width: 598px;
    height: 257px;
    border: 4px solid #728BAD;
    border-radius: 42px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 42px;
    padding-left: 20px;
    background-color: transparent;
    outline: none;
    color: #F5F5F5;
    margin-bottom: 43px;
    resize: none;
}

.send {
    width: 216px;
    height: 58px;
    background: #728BAD;
    border-radius: 42px;
    color: #F5F5F5;
    transition: background-color 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.any-questions-text {
    width: 546px;
}

/* !FOOTER */

footer {
    background: #222021;
    box-shadow: 0px -6px 52px rgba(245, 245, 245, 0.17);
    z-index: 5;
}

.footer-info {
    padding-top: 70px;
    position: relative;
}

.footer-info-img {
    z-index: -1;
    position: absolute;
    transform: rotate(-7.13deg);
    top: -430px;
    right: 30px;
}

.footer-text {
    display: flex;
    justify-content: space-between;
}

.footer-logo {
    font-size: 20px;
}

.footer-logo img {
    margin-bottom: 60px;
}

.phone,
.location {
    display: flex;
    padding-bottom: 33px;
}

.phone img {
    width: 39px;
    height: 39px;
}

.location img {
    width: 37px;
    height: 50px;
}